<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
  <head>
    <title>{% block title %}OxPoints Editor{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}base.css" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>

  <body>
    <header>
      <p>OxPoints Editor</p>
{% if perms.core.change_object %}
      <div class="search">
        <form method="get" action="{% url core:list %}">
          <input name="q"/>
          <input type="submit" value="Search"/>
        </form>
      </div>
{% endif %}
    </header>

    <nav>
      <small style="float:right">Logged in as <em>{{ user.first_name }} {{ user.last_name }}</em> ({{ user.username }})</small>
{% if perms.core.change_object %}
      <ul>
        <li><a href="{% url core:index %}">Home</a></li>
        <li><a href="{% url core:list %}">List</a></li>
        <li><a href="{% url core:list %}">Map</a></li>
        <li><a href="{% url core:diff %}">Diff</a></li>
        <li><a href="{% url core:commit %}">Commit changes</a></li>
        <li><a href="{% url core:index %}">Help</a></li>
        <li><a href="{% url core:index %}">Request complex change</a></li>
      </ul>
{% if recent %}
      <ul class="recent">
{% for obj in recent %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj.title|default:"<em>unnamed</em>" }}</a></li>
{% endfor %}
      </ul>
{% endif %}
{% endif %}
    </nav>

    

    <section>
      {% block body %}{% endblock %}
    </section>
  </body>
</html>
