{% extends "base.html" %}{% load oxpeditor_core %}

{% block title %}{{ object.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}autoSuggest.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}leaflet.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.4.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.autoSuggest.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}leaflet.js"></script>
<script type="text/javascript">
$(function () {
  $('input.autosuggest').each(function(i, e) {
    e = $(e);
    preFill = [];
    e.closest('div').find('ul li').each(function(j, f) {
      f = $(f);
      preFill.push({
        value: f.find('input').attr('value'),
        name: f.find('span').text(),
      });
    });
    e.closest('div').find('.relation-list').remove()
    e.attr('name', e.attr('name').replace(/^reladd/, 'relall'));
            
        
    e.autoSuggest(e.attr('autosuggest'), {
      minChars: 3,
      searchObjProps: "name",
      selectedItemProp: "name",
      startText: "Select and type to add",
      asHtmlID: e.attr('name').replace(/^relall-/, ''),
      preFill: preFill});
  });

  $('.location-form').each(function() {
    var getCoordinates = function() {
      var latitude = form.find('.latitude input').val(),
          longitude = form.find('.longitude input').val();
      if (latitude && longitude)
          return [parseFloat(latitude), parseFloat(longitude)];
      else
          return null;
    };
    var updateMap = function() {
      coords = getCoordinates();
      if (coords && !marker)
        createMarker();
      else if (!coords && marker)
        destroyMarker();
      else if (coords) {
        marker.setLatLng(coords);
        map.panTo(coords);
      }
    };
    var updateForm = function(ev) {
      var latlng = ev.latlng || ev.target._latlng;
      form.find('.latitude input').val(Math.round(latlng.lat * 1e6) / 1e6);
      form.find('.longitude input').val(Math.round(latlng.lng * 1e6) / 1e6);
      coords = getCoordinates();
    };
    var createMarker = function() {
       marker = L.marker(coords, {draggable: true}).addTo(map).on('drag', updateForm).on('contextmenu', function(ev) {
         form.find('table input').val('');
         destroyMarker();
       });
    };
    var destroyMarker = function() {
       map.removeLayer(marker);
       marker = undefined;
    };
    
    var form = $(this);
    var marker;
    var coords = getCoordinates();
    form.find('input').bind('change', updateMap);
    
    var map = L.map(form.find('.detail-map').get(0)).setView(coords || [51.753, -1.252], 15).on('click', function(ev) {
      if (marker) return;
      updateForm(ev);
      createMarker();
    });
    L.tileLayer('https://static.data.ox.ac.uk/osm-tiles/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
        maxZoom: 18
    }).addTo(map);
  
    if (coords)
        createMarker();
  });
});
</script>
{% endblock %}

{% block body %}
    
<div >

{% if has_errors %}
    <div class="errors">
      There were errors in your submission. Please see below for further details.
    </div>
{% else %}
    <aside class="actions">
      <h2>Common actions</h2>
      <ul>
{% if object.child_types %}
        <li><a href="{% url "core:detail-create" object.oxpid %}">Add a new sub-entity</a></li>
{% endif %}
{% ifequal object.root_elem "org" %}
<!--
        <li>This unit has been disbanded</li>
        <li>This unit has moved location</li>
-->
{% endifequal %}
{% ifequal object.root_elem "place" %}
<!--
        <li>This place no longer exists</li>
-->
{% endifequal %}
      </ul>
    </aside>
{% endif %}

    <h1>{{ object.title }} <small>({{ object.oxpid }}, {{ object.type }})</small></h1>

{% if editable and object.modified %}
    <p>  <a href="{% url "core:detail-revert" object.oxpid %}">Revert pending changes</a>. {% ifnotequal user object.user %}Currently being edited by {{ object.user.first_name }} {{ object.user.last_name }} ({{ object.user.username }}).{% endifnotequal %}</p>
{% endif %}


{% comment %}
    <p>
{% for ancestor in object.get_ancestors.all %}
      <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.title }}</a> (<a href="{% url "core:detail-tree" ancestor.oxpid %}">{{ ancestor.get_descendant_count }}</a>) &#187;
{% endfor %}
      {{ object.title }} (<a href="{% url "core:detail-tree" object.oxpid %}">{{ object.get_descendant_count }}</a>)
    </p>
{% endcomment %}

{% if editable %}
    <form method="post" action=".">

      {% for form in management_forms %}
        {{ form }}
      {% endfor %}
{% else %}
<div class="warning">
{% if object.user %}
    <p>This entity is currently being edited by {{ object.user.first_name }} {{ object.user.last_name }} ({{ object.user.username }}).</p>
{% else %}
    <p>This entity is no longer active, and so cannot be edited. If OxPoints' historical record of this entity is incorrect, please <a href="{% url "core:request" %}">tell us about it</a>.</p>
{% endif %}
</div>
{% endif %}

      <div style="">

{% if forms.NameForm %}
      <section{% if forms.NameForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Names</h2>
          <p>An entity can have various names associated with it. There should be
             one preferred name and at most one sort name. Alternate names are
             official alternatives, including abbreviations. Hidden names are
             commonly used unofficial names, including nicknames.</p>
        </header>

        <table>
          <thead>
            <tr>
              <th>Delete?</th>
              <th>Value</th>
              <th>Preferred?</th>
              <th>Sort?</th>
              <th>Alternate?</th>
              <th>Hidden?</th>
              <th>Short?</th>
              <th>Acronym?</th>{% if object.root_elem == "place" %}
              <th>Map?</th>{% endif %}
            </tr>
          </thead>
          <tbody>
{% for form in forms.NameForm.forms %}
            <tr>
              <td>{{ form.DELETE }}{{ form.path }}</td>
              <td>{{ form.value }}{{ form.errors.value }}</td>
              <td>{{ form.type_preferred }}</td>
              <td>{{ form.type_sort }}</td>
              <td>{{ form.type_alternate }}</td>
              <td>{{ form.type_hidden }}</td>
              <td>{{ form.type_short }}</td>
              <td>{{ form.type_acronym }}</td>{% if object.root_elem == "place" %}
              <td>{{ form.type_map }}</td>{% endif %}
            </tr>
{% endfor %}
          </tbody>
        </table>
      </section>
{% endif %}

{% if forms.DescriptionForm %}
      <section{% if forms.DescriptionForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Description</h2>
          <p>A plain-text description of this object.</p>
        </header>

{% for form in forms.DescriptionForm.forms %}
{% if form.errors %}
        <div class="errors">
          {{ form.errors }}
        </div>
{% endif %}
              {{ form.path }}
              <div>
              {{ form.description }}
              </div>
{% endfor %}
      </section>
{% endif %}

{% if forms.IDNoForm %}
      <section{% if forms.IDNoForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Identifiers</h2>
        </header>
  
        <table>
          <thead>
            <tr>
              <th>Delete?</th>
              <th>Value</th>
              <th>Scheme</th>
            </tr>
          </thead>
          <tbody>
{% for form in forms.IDNoForm.forms %}
            <tr>
              <td>{{ form.DELETE }}{{ form.path }}</td>
              <td>{{ form.value }}{{ form.errors.value }}</td>
              <td>{{ form.scheme }}{{ form.errors.scheme }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </section>
{% endif %}

{% if forms.AddressForm %}
      <section{% if forms.AddressForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Address</h2>
        </header>
  
{% for form in forms.AddressForm.forms %}
{% if form.errors %}
        <div class="errors">
          {{ form.errors }}
        </div>
{% endif %}
        {{ form.path }}
        <table>
          <tbody>
            <tr>
              <th>{{ form.street.label_tag }}</th>
              <td>{{ form.street }}</td>
              <td>{{ form.errors.street }}</td>
            </tr><tr>
              <th>{{ form.extended.label_tag }}</th>
              <td>{{ form.extended }}</td>
              <td>{{ form.errors.extended }}</td>
            </tr><tr>
              <th>{{ form.locality.label_tag }}</th>
              <td>{{ form.locality }}</td>
              <td>{{ form.errors.locality }}</td>
            </tr><tr>
              <th>{{ form.postcode.label_tag }}</th>
              <td>{{ form.postcode }}</td>
              <td>{{ form.errors.postcode }}</td>
            </tr><tr>
              <th>{{ form.country.label_tag }}</th>
              <td>{{ form.country }}</td>
              <td>{{ form.errors.country }}</td>
            </tr>
          </tbody>
        </table>
{% endfor %}
      </section>
{% endif %}

{% if forms.SpaceConfigurationForm %}
      <section{% if forms.SpaceConfigurationForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Configurations</h2>
          <p>The configurations, or layouts, available for a space. Most will
             only have one, but some rooms can be rearranged, with each
             arrangement having a different capacity.</p>
        </header>

        <table>
          <thead>
            <tr>
              <th>Delete?</th>
              <th>Type</th>
              <th>Capacity</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
{% for form in forms.SpaceConfigurationForm.forms %}
            <tr>
              <td>{{ form.DELETE }}{{ form.path }}</td>
              <td>{{ form.type }}{{ form.errors.type }}</td>
              <td>{{ form.capacity }}{{ form.errors.capacity }}</td>
              <td>{{ form.comment }}{{ form.errors.comment }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </section>
{% endif %}


{% if forms.URLForm %}
      <section{% if forms.URLForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>URLs</h2>
        </header>
  
        <table>
          <thead>
            <tr>
              <th>Delete?</th>
              <th>URL</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
{% for form in forms.URLForm.forms %}
            <tr>
              <td>{{ form.DELETE }}{{ form.path }}</td>
              <td>{{ form.url }}{{ form.errors.url }}</td>
              <td>{{ form.ptype }}{{ form.errors.ptype }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </section>
{% endif %}

{% if forms.LocationForm %}
      <section{% if forms.LocationForm.errors|any %} class="has_errors"{% endif %}>
        <header>
          <h2>Location</h2>
        </header>

{% for form in forms.LocationForm.forms %}
      <div class="location-form">
        {{ form.path }}
        <div class="detail-map" style="float:right; width:300px; height:300px"></div>
        <table>
          <tbody>
            <tr class="latitude">
              <th>{{ form.latitude.label_tag }}</th>
              <td>{{ form.latitude }}</td>
              <td>{{ form.errors.latitude }}</td>
            </tr><tr class="longitude">
              <th>{{ form.longitude.label_tag }}</th>
              <td>{{ form.longitude }}</td>
              <td>{{ form.errors.longitude }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">Click the map to set a new location, or drag the marker if there is already a location recorded. Right-click the marker to clear the location.</td>
            </tr>
          </tfoot>
        </table>
        <div style="clear:both"></div>
      </div>
{% endfor %}
      </section>
{% endif %}

      <section id="sec-relations">
        <header>
          <h2>Relations</h2>
        </header>
        
        <div>
        {% for relation_group in relations %}
        
        <div>
        <h3>{{ relation_group.label|capfirst }}</h3>
        
        {% if relation_group.relations.count %}
        <ul class="relation-list">
          {% for rel in relation_group.relations %}
            <li>
              <input name="reldel-{{ rel.type }}-{{ rel.passive.oxpid }}" value="{{ rel.passive.oxpid }}" type="checkbox"/>
              <span>{{ rel.passive.autosuggest_title }}</span>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="relation-list"><em>Nothing</em></p>
        {% endif %}
        
        <p><input class="autosuggest" name="reladd-{{ relation_group.name }}" autosuggest="{% url "core:autosuggest" object.type relation_group.name %}"/></p>
        </div>
        
        {% endfor %}

          <table>
            <tbody>
              {% for label, is_forward, relations in object.get_grouped_relations %}
              {% if relations.count %}
              <tr>
                <th style="white-space:nowrap; font-weight:normal; text-align:left; vertical-align:top">{{ label }}</th>
                <td>
                  {% for relation in relations %}
                    {% if is_forward %}
                    <a href="{{ relation.passive.get_absolute_url }}">{{ relation.passive.sort_title }}</a>
                    {% else %}
                    <a href="{{ relation.active.get_absolute_url }}">{{ relation.active.sort_title }}</a>
                    {% endif %}
                    {% if not forloop.last %} &#8226; {% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </table>
        </div>
          
      </section>
      </div>
       
{% if editable %}
      <section id="sec-update" style="background-color:#a1c4d0">
        <h2>Type of update</h2>

        <p>This update…</p>

{% if update_type_form.update_type.errors %}
        <div class="errors">
          {{ update_type_form.update_type.errors }}
        </div>
{% endif %}

        {{ update_type_form.update_type }}

{% if update_type_form.when.errors %}
        <div class="errors">
          {{ update_type_form.when.errors }}
        </div>
{% endif %}

        <p>
          If the latter, enter a date on which these changes happened: 
          {{ update_type_form.when }}
        </p>

        <input type="submit" value="Update"/>
      </section>

    </form>
{% endif %}

</div>

{% endblock %}
