{% extends "base.html" %}

{% block body %}
    <h1>List of OxPoints entities by LinkingYou information</h1>

    <div class="filter-types">
      Filter by type:
      <ul>
{% for type in types %}
        <li><a href=".?type={{ type }}">{{ type }}</a></li>
{% endfor %}
      </ul>
    </div>

    <table class="lyou">
        <thead>
            <tr>
                <th></th>
                <th></th>{%  for term in terms %}{%  if term.count > 0 %}
                <th class="lyou-term" {% if term.help_text %} title="{{ term.help_text }}"{%  endif %}><div><span>{{ term.label }}</span></div></th>{%  endif %}{% endfor %}
            </tr>
            <tr class="lyou-term-counts">
                <th style="white-space: nowrap">name</th>
                <th>count</th>{%  for term in terms %}{%  if term.count > 0 %}
                <td>{{ term.count }}</td>{% endif %}{% endfor %}
            </tr>
        </thead>
        <tbody>{% for object in objects %}
            <tr>
                <th><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></th>
                <th>{{ object.term_count }}</th>{% for term, seen in object.seen_terms %}{% if term.count > 0 %}
                <td>{% if seen %}<i class="fa fa-check-square"> </i>{% endif %}</td>{% endif %}{% endfor %}
            </tr>
        {% endfor %}</tbody>
    </table>
{% endblock %}
