{% extends "base.html" %}

{% block body %}
    <h1>List of OxPoints entities by LinkingYou information</h1>

    <div class="filter-types">
      Filter by type:
      <ul>
{% for type in types %}
        <li><a href=".?type={{ type }}">{{ type }}</a></li>
{% endfor %}
      </ul>
    </div>

    <table class="lyou">
        <thead>
            <tr>
                <th>Name</th>{%  for term in terms %}{%  if not term.hide %}
                <th class="lyou-term" {% if term.help_text %} title="{{ term.help_text }}"{%  endif %}><div><span>{{ term.label }}</span></div></th>{%  endif %}{% endfor %}
            </tr>
        </thead>
        <tbody>{% for object in objects %}
            <tr>
                <th>{{ object.title }}</th>{% for term, seen in object.seen_terms %}{% if not term.hide %}
                <td>{% if seen %}x{% endif %}</td>{% endif %}{% endfor %}
            </tr>
        {% endfor %}</tbody>
    </table>
{% endblock %}
