{% extends "base.html" %}{% load oxpeditor_core %}

{% block title %}OxPoints entities{% endblock %}

{% block body %}
    <h1>List of OxPoints entities</h1>

    <div class="filter-types">
      Filter by type:
      <ul>
{% for type in types %}
        <li><a href="{% updated_query_string type=type %}">{{ type }}</a></li>
{% endfor %}
      </ul>
    </div>

    <table class="list">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>From</th>
          <th>Homepage</th>
          <th>Address</th>
          <th>OUCS</th>
          <th>Est.</th>
          <th>Fin.</th>
        </tr>
      </thead>
      <tbody>
{% for object in objects %}
        <tr style="background-color: {% ifequal user object.user %}#cfc{% else %}{% if object.user %}#fdd{% else %}{% cycle "#ddf" "#fff" %}{% endif %}{% endifequal %}">
          <td><a href="{{ object.get_absolute_url }}">{{ object.oxpid }}</a></td>
          <td>{% if object.sort_title|contains_comma %}{{ object.sort_title }}{% else %}{{ object.title }}{% endif %}</td>
          <td>{{ object.type }}</td>
          <td>{{ object.dt_from }}</td>
          <td>{% if object.homepage %}<a href="{{ object.homepage }}">{{ object.homepage }}</a>{% endif %}</td>
          <td>{{ object.address|linebreaksbr }}</td>
          <td>{{ object.idno_oucs|default:"" }}</td>
          <td>{{ object.idno_estates|default:"" }}</td>
          <td>{{ object.idno_finance|default:"" }}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
{% endblock %}
