{% extends "base.html" %}

{% block body %}

<h1>Make a request</h1>

<p>Feel free to use this form to notify of us of any update that is impossible or tedious to perform using the editor. You can also use it to request permission to edit the dataset (if you can't already) or request an account to edit the dataset programmatically.</p>

<p>If you have any data (structured or otherwise) that you would like integrated you can upload an accompanying file.</p>

<form method="post" action="." enctype="multipart/form-data">

<table>
  <tbody>
    {{ form }}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align:center">
        <input type="submit" value="Submit request"/>
      </td>
    </tr>
  </tfoot>
</table>

</form>

{% endblock %}
