{% extends "base.html" %}{% load mptt_tags %}

{% block body %}

<h1>{% if root %}Tree from <em>{{ root.title|default:"unnamed" }}</em>{% else %}Organisational Tree{% endif %}</h1>

<table style="">
  <tbody>
  <tr>
    {% for object in objects %}
 
       <td rowspan="{{ object.height }}" style="vertical-align:top; padding:2px; background-color:{% cycle "#aaf" "#afa" "#faa" %}; border-bottom:4px solid #fff;">
          <a href="{{ object.get_absolute_url }}">{{ object.title|default:"<em>unnamed</em>" }}</a>
          <small>{{ object.type }}</small>
          {% if object.child_types %}
        <small><a href="{% url core:detail-create object.oxpid %}">Add child</a></small>
{% endif %}
       </td>
       {% if object.final and not forloop.last %}
         </tr><tr>
       {% endif %}
     {% endfor %}
    </tr>
  </tbody>
</table>


{% endblock %}
